{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/admin.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="containerCrud">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-body tab">
                        <h1>Edit Booking</h1>
                        {{ include('admin/booking/_form.html.twig', {'button_label': 'Update'}) }}
                        <a href="{{ path('booking_index') }}" id="backBtn" type="button" class="btn btn-primary">back to list</></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}
