.containerHomePage {
    margin-top: 1000px;
}

.icone {
    font-size: 255%;
}

.titleArticle {
    text-align: center !important;
    color: #44A1B8 !important;
    font-size: 20px !important;
}

.article {
    margin-top: 20px;
    ont-family: 'Helvetica', sans-serif;
    color: #777;
}

body {
    background-color: #F3F3F3;
}

/*Caroussel*/

.flexslider ul {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 780px)
{
    .flexslider {
        display: none;
    }

    .containerHomePage {
        margin-top: 100px;
    }
}