#map {
    width: 50%;
    height: 90%;
    margin-top: 50px;
    position: fixed !important;
}

#mapContainer {
    display: flex;
    justify-content: flex-end;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#resultSearch {
    overflow-y: scroll;
    position: relative;
    height: 90%;
    width: 100%;
    margin-left: 55px;
}

#containerResults {
    position: fixed;
    height: 90%;
    margin-top: 30px;
    width: 47%;
}