{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/searchSwapService.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="mapContainer">
        <div id="map"></div>
    </div>
    <div class="row">
        <div id="containerResults">
            <div id="resultSearch">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src="{{ asset('build/searchSwapService.js') }}"></script>
{% endblock %}